<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectCoffee.Properties.Settings.dbcafeConnectionString"
            connectionString="server=localhost;user id=Khamphay;persistsecurityinfo=True;database=dbcafe"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjectCoffee.Properties.Settings.dbcafeConnectionString1"
            connectionString="server=localhost;user id=Khamphay;persistsecurityinfo=True;database=dbcafe"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjectCoffee.Properties.Settings.dbcafeConnectionString2"
            connectionString="server=localhost;user id=Khamphay;persistsecurityinfo=True;database=dbcafe"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjectCoffee.Properties.Settings.dbcafeConnectionString3"
            connectionString="server=localhost;user id=Khamphay;persistsecurityinfo=True;database=dbcafe"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjectCoffee.Properties.Settings.dbcafeConnectionString4"
            connectionString="server=localhost;user id=Khamphay;persistsecurityinfo=True;database=dbcafe"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>